.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}


.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.drum-pad {
  background-color: #AED6F1;
  border: 6px solid #5499C7;
  border-radius: 1px 50px;
  padding: 3rem;
}

body {
  background-color: #F9E79F;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family:'Courier New', Courier, monospace;
}